apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ role_binding }}
  namespace: {{ namespace }}
subjects:
  {% for binding in bindings %}
  - kind: ServiceAccount
    name: {{ binding.sa_name }}
    namespace: {{ namespace }}
  {% endfor %}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ bindings[0].role }}
